@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NanumSquare", sans-serif;
  font-weight: 700;
  background-color: #f4f4f4;
}
